<div class="panel panel-default">
    <div class="panel-heading">Lights</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item device">
                <span class="on"><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="lightOn()">A1 on</button></span>
                <span class="off"><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="lightOff()">A1 off</button></span>
            </li>
        </ul>
    </div>
</div>